
{{#if user}}
<div class="landing">
  <div class="dark-overlay landing-inner text-light">
  
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="display-3 mb-4" style="color: White"><strong>Welcome, {{user.name}}</strong></h1>
          
         <br>
         <br>
         <br>
         <br>
         
          <a href="/createTask" class="btn btn-primary btn-lg"><strong>Share Code Now!</strong></a>

        </div>
      </div>
    </div>
  </div>
</div>
{{else}}
<div class="landing">
  <div class="dark-overlay landing-inner text-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="display-3 mb-4" style="color: white"><strong>Welcome to TSOCode</strong></h1>
          <h3 class="display-3 mb-4" style="color: White"><strong>A real-time online code editor for interviews, pair programming, teaching & more…</strong></h3>
  
          <br>
          <br>
          <p class="lead" style="color: White">
            <strong>Sign up to get started!</strong>
          </p>
          <a href="/login" class="btn btn-primary btn-lg">Login</a>
          <a href="/register" class="btn btn-primary btn-lg">Sign Up</a>

          
        </div>
      </div>
    </div>
  </div>
</div>
  
{{/if}}